:root {
    --red: #fe5358;
    --black: #212529;
    --light-black: rgba(0, 0, 0, .5);
    --green: #26c197;
    --range: #e49115;
    --ellow: #ebba0e;
    --ement: #eceaea;
    --white: #ffffff;
    --blue: #183153;

    --lue: rgb(65, 91, 237);
    --hite: #fff;
    --green: rgba(88, 210, 46, 1);

    --fs-twelve: 12px;
    --fs-thirteen: 13px;
    --fs-fourteen: 14px;
    --fs-fifteen: 15px;
    --fs-sixteen: 16px;
    --fs-seventeen: 17px;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}